In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime
%matplotlib inline

In [3]:
df = pd.read_csv("HPD_Crime_2009_2017_v01.csv")

In [22]:
df.head()

,Location_Desc,Police_Beat,Street_Type,RecordID,Date_Reported,Offense_Type,Block_Range,Street_Prefix,Street_Name,Num_Offenses,...,X,Y,GEOID10,GEOID00,Police_Division,CTA_ID,CTA_Name,Geocoded,Location_Code,Hour
0,NaN,14D40,RD,1,NaN,Burglary,5600-5699,NaN,SELINSKY,1,...,-95.333268,29.637514,4.820133e+14,4.820133e+14,Southeast Division,K066,Minnetex,1,NaN,8
1,NaN,7C20,NaN,2,NaN,Theft,3900-3999,NaN,CAVALCADE,1,...,-95.331799,29.800081,4.820121e+14,4.820121e+14,Northeast Division,K004,Kashmere Gardens,1,NaN,11
2,NaN,13D40,PKWY,3,NaN,Theft,8500-8599,S,SAM HOUSTON,1,...,-95.516291,29.625560,4.820133e+14,4.820133e+14,Southwest Division,K070,Five Corners,1,NaN,15
3,NaN,18F40,RD,4,NaN,Robbery,2700-2799,NaN,DUNVALE,1,...,-95.514200,29.736820,4.820143e+14,4.820143e+14,Midwest Division,K080,Mid-West,1,NaN,14
4,RESTAURANT/CAFETERIA,24C60,PKWY,5,09/08/1914,Burglary,12700-12799,W,LAKE HOUSTON,1,...,-95.195466,29.924672,4.820125e+14,4.820125e+14,Kingwood Division,K106,Lake Houston,1,210,7

In [5]:
df.count()

Location_Desc      1058263
Police_Beat        1090899
Street_Type         832422
RecordID           1094207
Date_Reported      1094203
Offense_Type       1094207
Block_Range        1094050
Street_Prefix       150422
Street_Name        1094205
Num_Offenses       1094207
Srce_YYMM          1094207
NGC                 242420
Match_addr         1063260
X                  1080683
Y                  1080683
GEOID10            1063260
GEOID00            1063260
Police_Division    1051759
CTA_ID             1049989
CTA_Name           1049989
Geocoded           1094207
Location_Code      1058200
Hour               1094207
dtype: int64

In [6]:
df.describe()

,RecordID,Num_Offenses,NGC,X,Y,GEOID10,GEOID00,Geocoded,Hour
count,1.094207e+06,1.094207e+06,242420.000000,1.080683e+06,1.080683e+06,1.063260e+06,1.063260e+06,1.094207e+06,1.094207e+06
mean,5.471040e+05,1.015262e+00,0.012924,-9.387951e+01,2.927203e+01,4.820125e+14,4.820125e+14,9.717174e-01,1.310504e+01
std,3.158705e+05,1.613578e-01,0.112946,1.201800e+01,3.748233e+00,7.909409e+10,7.909512e+10,1.657791e-01,6.425957e+00
min,1.000000e+00,1.000000e+00,0.000000,-9.578030e+01,0.000000e+00,4.815767e+14,4.815767e+14,0.000000e+00,0.000000e+00
25%,2.735525e+05,1.000000e+00,0.000000,-9.550640e+01,2.968407e+01,4.820131e+14,4.820131e+14,1.000000e+00,9.000000e+00
50%,5.471040e+05,1.000000e+00,0.000000,-9.541192e+01,2.973750e+01,4.820141e+14,4.820141e+14,1.000000e+00,1.400000e+01
75%,8.206555e+05,1.000000e+00,0.000000,-9.533682e+01,2.980469e+01,4.820145e+14,4.820145e+14,1.000000e+00,1.800000e+01
max,1.094207e+06,3.300000e+01,1.000000,0.000000e+00,3.009652e+01,4.833969e+14,4.833969e+14,1.000000e+00,2.400000e+01

In [25]:
df.dtypes

Location_Desc       object
Police_Beat         object
Street_Type         object
RecordID             int64
Date_Reported       object
Offense_Type        object
Block_Range         object
Street_Prefix       object
Street_Name         object
Num_Offenses         int64
Srce_YYMM           object
NGC                float64
Match_addr          object
X                  float64
Y                  float64
GEOID10            float64
GEOID00            float64
Police_Division     object
CTA_ID              object
CTA_Name            object
Geocoded             int64
Location_Code       object
Hour                 int64
dtype: object

In [21]:
df.Date_Reported.value_counts()

08/01/2009    512
06/12/2009    504
07/13/2009    496
10/01/2010    490
12/20/2013    481
07/01/2010    476
09/04/2009    476
12/11/2009    475
07/24/2009    475
05/07/2010    474
09/11/2009    473
12/23/2009    473
11/20/2009    471
06/11/2010    470
12/21/2009    469
10/01/2009    468
08/21/2009    467
06/19/2009    467
10/23/2009    464
07/10/2009    463
12/18/2009    462
12/04/2013    461
06/01/2010    461
05/14/2010    461
12/07/2009    460
11/13/2009    459
01/15/2010    458
08/07/2009    458
06/28/2013    457
12/03/2010    457
             ...
04/28/2000      1
11/05/2005      1
10/12/2001      1
03/05/2006      1
07/24/2000      1
04/15/1976      1
07/04/2005      1
10/21/2006      1
05/19/2005      1
11/01/2002      1
09/26/2008      1
05/06/2006      1
09/20/2008      1
12/05/2008      1
03/03/2007      1
01/03/2007      1
10/18/2001      1
08/25/1963      1
01/04/2001      1
05/14/1980      1
12/22/2004      1
05/21/2001      1
02/25/2001      1
05/22/2001      1
01/08/2007      1
11/04/2002      1
06/15/2001      1
08/23/2001      1
08/20/2001      1
10/30/2008      1
Name: Date_Reported, Length: 4220, dtype: int64

In [13]:
df.Date_Reported.value_counts().head(10)

08/01/2009    512
06/12/2009    504
07/13/2009    496
10/01/2010    490
12/20/2013    481
07/01/2010    476
09/04/2009    476
12/11/2009    475
07/24/2009    475
05/07/2010    474
Name: Date_Reported, dtype: int64

In [14]:
df.Date_Reported.isna().sum()

4

In [18]:
df.shape

(1094207, 23)

In [56]:
pd.to_datetime(df.Date_Reported, infer_datetime_format=True, errors='raise')

0                NaT
1                NaT
2                NaT
3                NaT
4         1914-09-08
5         1914-11-02
6         1914-12-03
7         1915-01-05
8         1915-01-14
9         1915-04-24
10        1915-07-30
11        1915-09-03
12        1915-09-29
13        1915-12-15
14        1915-12-25
15        1916-06-24
16        1920-06-28
17        1924-12-09
18        1959-06-06
19        1963-02-02
20        1963-08-25
21        1964-03-23
22        1964-10-09
23        1965-03-20
24        1965-07-03
25        1966-01-01
26        1966-07-18
27        1966-10-27
28        1969-07-22
29        1969-11-26
             ...
1094177   2017-12-31
1094178   2017-12-31
1094179   2017-12-31
1094180   2017-12-31
1094181   2017-12-31
1094182   2017-12-31
1094183   2017-12-31
1094184   2017-12-31
1094185   2017-12-31
1094186   2017-12-31
1094187   2017-12-31
1094188   2017-12-31
1094189   2017-12-31
1094190   2017-12-31
1094191   2017-12-31
1094192   2017-12-31
1094193   2017-12-31
1094194   2017-12-31
1094195   2017-12-31
1094196   2017-12-31
1094197   2017-12-31
1094198   2017-12-31
1094199   2017-12-31
1094200   2017-12-31
1094201   2017-12-31
1094202   2017-12-31
1094203   2017-12-31
1094204   2017-12-31
1094205   2017-12-31
1094206   2017-12-31
Name: Date_Reported, Length: 1094207, dtype: datetime64[ns]

In [57]:
df["Date_reported_in_datetime"] = pd.to_datetime(df.Date_Reported, infer_datetime_format=True, errors='raise')

In [58]:
df.head()

,Location_Desc,Police_Beat,Street_Type,RecordID,Date_Reported,Offense_Type,Block_Range,Street_Prefix,Street_Name,Num_Offenses,...,Y,GEOID10,GEOID00,Police_Division,CTA_ID,CTA_Name,Geocoded,Location_Code,Hour,Date_reported_in_datetime
0,NaN,14D40,RD,1,NaN,Burglary,5600-5699,NaN,SELINSKY,1,...,29.637514,4.820133e+14,4.820133e+14,Southeast Division,K066,Minnetex,1,NaN,8,NaT
1,NaN,7C20,NaN,2,NaN,Theft,3900-3999,NaN,CAVALCADE,1,...,29.800081,4.820121e+14,4.820121e+14,Northeast Division,K004,Kashmere Gardens,1,NaN,11,NaT
2,NaN,13D40,PKWY,3,NaN,Theft,8500-8599,S,SAM HOUSTON,1,...,29.625560,4.820133e+14,4.820133e+14,Southwest Division,K070,Five Corners,1,NaN,15,NaT
3,NaN,18F40,RD,4,NaN,Robbery,2700-2799,NaN,DUNVALE,1,...,29.736820,4.820143e+14,4.820143e+14,Midwest Division,K080,Mid-West,1,NaN,14,NaT
4,RESTAURANT/CAFETERIA,24C60,PKWY,5,09/08/1914,Burglary,12700-12799,W,LAKE HOUSTON,1,...,29.924672,4.820125e+14,4.820125e+14,Kingwood Division,K106,Lake Houston,1,210,7,1914-09-08

In [59]:
df['month'] = df['Date_reported_in_datetime'].dt.month

In [62]:
df.head(10)

,Location_Desc,Police_Beat,Street_Type,RecordID,Date_Reported,Offense_Type,Block_Range,Street_Prefix,Street_Name,Num_Offenses,...,GEOID10,GEOID00,Police_Division,CTA_ID,CTA_Name,Geocoded,Location_Code,Hour,Date_reported_in_datetime,month
0,NaN,14D40,RD,1,NaN,Burglary,5600-5699,NaN,SELINSKY,1,...,4.820133e+14,4.820133e+14,Southeast Division,K066,Minnetex,1,NaN,8,NaT,NaN
1,NaN,7C20,NaN,2,NaN,Theft,3900-3999,NaN,CAVALCADE,1,...,4.820121e+14,4.820121e+14,Northeast Division,K004,Kashmere Gardens,1,NaN,11,NaT,NaN
2,NaN,13D40,PKWY,3,NaN,Theft,8500-8599,S,SAM HOUSTON,1,...,4.820133e+14,4.820133e+14,Southwest Division,K070,Five Corners,1,NaN,15,NaT,NaN
3,NaN,18F40,RD,4,NaN,Robbery,2700-2799,NaN,DUNVALE,1,...,4.820143e+14,4.820143e+14,Midwest Division,K080,Mid-West,1,NaN,14,NaT,NaN
4,RESTAURANT/CAFETERIA,24C60,PKWY,5,09/08/1914,Burglary,12700-12799,W,LAKE HOUSTON,1,...,4.820125e+14,4.820125e+14,Kingwood Division,K106,Lake Houston,1,210,7,1914-09-08,9.0
5,MISC. BUSINESS (NON-SPECIFIC),18F60,BLVD,6,11/02/1914,Burglary,8800-8899,NaN,BELLAIRE,1,...,4.820143e+14,4.820143e+14,Westside Division,K079,Sharpstown,1,05Z,3,1914-11-02,11.0
6,NaN,12D20,FWY,7,12/03/1914,Auto Theft,12800-12899,NaN,GULF,1,...,4.820133e+14,4.820133e+14,Clear Lake Division,K117,South Belt / Ellingt,1,NaN,19,1914-12-03,12.0
7,OTHER PARKING LOT,3B10,NaN,8,01/05/1915,Theft,3200-3299,NaN,MANGUM RD 180,1,...,4.820153e+14,4.820153e+14,North Division,K032,Oak Forest,1,18O,22,1915-01-05,1.0
8,APARTMENT PARKING LOT,5F10,DR,9,01/14/1915,Auto Theft,7000-7099,NaN,WESTVIEW,1,...,4.820152e+14,4.820152e+14,Northwest Division,K083,Spring Branch East,1,18A,23,1915-01-14,1.0
9,OFFICE BUILDING,1A20,NaN,10,04/24/1915,Burglary,3100-3199,NaN,SMITH,1,...,4.820141e+14,4.820141e+14,Central Division,K023,Midtown,1,05O,7,1915-04-24,4.0